


  .logoCarro{
    width: 100px;
  }
  
  .logoMain{
    width: 600px;
  
  }
  
  .logo{
    width: 200px;
  }
  
  .nav1 {
    font-family: 'Righteous', cursive;
    font-size: 35px;
    color: rgb(88, 4, 14);
    display: flex;
    text-decoration: none;
    padding: 30px;
  }


  .nav1:hover{
    color: rgb(12, 3, 115);
  }
  
  .nav2 {
    font-family: 'Righteous', cursive;
    font-size: 15px;
    color: rgb(64, 60, 60);
    text-decoration: none;
    
  }
  
  .nav2:hover{
    color: rgb(12, 3, 115);
  }
  .nav-item{
    padding: 10px;
    
  }
  
  .nav-item2{
    padding: 27px 5px 5px 60px;
    
    
  }